a{
    text-decoration:none;
    color:white;
}


body{
    font-family: sans-serif;
    background-color: #000000;
    width:100%;
}

.page-content { /* Setting the borders */
    padding:20px;
    background-color: #000000;
    overflow: hidden;
    padding-top:150px;
}


.header {
    text-align: center;
    align-content: center;
    background-color: #000000;
    position: fixed;
    width: 100vw;
    height:80px;
}

.logo {
    padding-top:30px;
}

.search-bar {
    background:darkgray;
    height:50px;
    position:fixed;
    margin-top:70px;
    border-radius:50px;
    width:85vw;
    margin-left:20px;
    line-height: 50px;
    padding-left:10px;
}

.feed {
    display:flex;
    flex-direction: column;
    gap:20px;
}

.footer {
    height:70px;
    background-color: darkgray;
    position:fixed;
    left:0;
    bottom:0;
    right:0;    
}

    .footer-icon {
        width:auto;
        height:100%;
    }

.menu {
    display:flex;
    gap:20px;
    height:70px;
    justify-content: space-between;
}




 




